extends layout

block content
  h1= title
  p  Story Writer -Provides the basic story idea.

  p  Screenplay Writer - Converts the story into a structured screenplay.

  p  Dialogue Writer - Writes the dialogues for characters.

  p  Producer -Finances and manages the entire film production.

  p  Director - Heads the film, visualizes the story, and guides the team.

  p  Cast (Actors/Actresses) - Perform characters on screen.

  p  Art Director - Designs sets, props, and visual environment.

  p  Cinematographer (DOP) - Handles camera work, lighting, and visual framing.

  p  Costume Designer - Designs and manages costumes.

  p  Production Manager - Looks after the day-to-day production work.

  p  Makeup Artists - Enhance the looks of actors according to rolesa

  p  Hair Stylists -Maintain character-specific hairstyles.
  p Stunt Master - Designs and directs action sequences.

  p Choreographer - Composes and directs dance sequences.

  p Music Director - Composes songs and background score.

  p Lyricist - Writes lyrics for the songs.

  p Singers (Playback Singers) - Sing songs for actors to lip-sync on screen.

  p Sound Engineer - Records, mixes, and masters dialogues, effects, and music.

  p Editing Team - Cuts and arranges shots to make the final movie.

  p VFX (Visual Effects) Team - Adds computer-generated imagery and effects.

  p Lighting Technicians - Manage lighting setup for mood and clarity.

  p Publicity Designers -Create posters, trailers, and promotional content.

  p Distributor - Markets and distributes the film to theaters/OTT.

  p Exhibitor (Theater Owners) - Finally screens the movie to the audience.